<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 是否 启用  数据中 a_column 自动映射 到 java类中驼峰命名的属性-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
	<typeAliases>  
	    <!-- 批量别名定义,指定包名，mybatis自动扫描包中的po类，自动定义别名，别名是类名(首字母大写或小写都可以,一般用小写) -->  
	    <package name="com.tcw.modules" />  
	</typeAliases>
</configuration>