#line-chart {
    height:300px;
    width:800px;
    margin: 0px auto;
    margin-top: 1em;
}
.brand {
	font-family: georgia, serif;
}

.brand .first {
    color: #ccc;
    font-style: italic;
}
.brand .second {
    color: #fff;
    font-weight: bold;
}

.container-fluid-self {
	padding: 0px 10px;
	margin-top: 1px;
}
.block-self {
	border: 1px solid #ccc;
	background: white;
	padding: 0.30em;
}

.mr10 {
	margin-right: 30px;
}