.template-row {
	clear: both;
	margin: 10px;
}
.template-row .labelText {
	width: 220px;
	text-align: right;
	vertical-align: top;
}
.template-row .labelText, .template-row .value-row, .template-row .extra-row {
	float: left;
	margin: 10px 15px;
}
.template-row .value-row .row-top {
	vertical-align: top;
	margin-right: 5px;
}
.template-btn {
	clear: both;
	padding-left: 270px;
}
.my-textarea-disable-background textarea[disabled] {
  background-color: #fff
}